<launch>
  <arg name="thresh" default="0.24"/>
  <arg name="device" default="/dev/video0"/>

  <node pkg="usb_cam" name="usb_cam_node" type="usb_cam_node">
    <param name="video_device" value="$(arg device)"/>
  </node>
  <node pkg="yolo_ros" name="yolo_node" type="yolo_node">
    <remap from="/camera/image_raw" to="/usb_cam_node/image_raw"/>
    <param name="thresh" value="$(arg thresh)"/>
  </node>
</launch>
