<launch>
  <arg name="thresh" default="0.24"/>
  <arg name="device" default="/dev/video0"/>

  <node pkg="usb_cam" name="usb_cam_node" type="usb_cam_node">
    <param name="video_device" value="$(arg device)"/>
  </node>
  <include file="$(find yolo_ros)/launch/yolo.launch">
    <arg name="thresh" value="$(arg thresh)"/>
    <arg name="input" value="/usb_cam_node/image_raw"/>
  </include>
</launch>
